input#hide[type=text] {
    width: 0px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 0px;
    font-size: 16px;
    background-color: white;
    /* background-image: url('src/icons8-search-50.png');  */
    background-repeat:no-repeat;
    background-size:50%;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
}
*{
    font-family: 'Oxygen', sans-serif;
}

input#hide[type=text]:focus {
    width: 100%;
    background-size:10%; 
    border: transparent;
}

input#hide1[type=text] {
    width: 0px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 0px;
    font-size: 16px;
    background-color: white;
    background-image: url('src/icons8-search-50.png'); 
    background-repeat:no-repeat;
    background-size:50%;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.4s ease-in-out;
    cursor: pointer;
}

input.hide1[type=text] {
    width: 100%;
}
/*-------------------------------Footer---------------------------------------*/

footer{
    background-color: black;
    padding: 5% 0 ;
}

footer li a:hover{
    color: aliceblue;
}
.list-head{
    color: aliceblue;
    margin-bottom:0.5rem;
}
footer li{
    list-style: none;
}
footer li a{
    text-decoration: none;
    font-size: small;
    color: #828282;
    line-height: 2rem;
}
footer .support a{
    color: aliceblue;
    text-decoration: none;
}

/* -------------------footer-accordian--------------------------- */

.accordion {
    background-color: black;
    color: #ffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  .panel ul{
    padding: 0%;
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color:black;
    overflow: hidden;
    color: #828282;
  }

  @media (min-width:1022px) {
    #footer-2{
        display: none;
    }
  }
  @media(max-width:1021px){
    #footer-1{
        display: none;
    }
  }

  /*-------------------------------------------------------*/

  .grid-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid-item-img{
    grid-row-start: span 2;
  }
  .grid-item-3{
    align-self: self-end;
  }


  /*-------------------------------------------------------------*/

  .hot-picks-head p{
    display: inline;
    font-size: larger;
    color: black;
    padding-bottom: 0.13rem;
    cursor: pointer;
  }
  .hot-picks-head p:active{

    border-bottom:1px solid red;
  }